
html {
  height: 100%;
}

body {
    min-height: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height:100vh;

    margin: 0;
    display:flex;
    flex-direction:column;
}

h1 {
  font-size: 80px;
  font-weight:  100;
  margin: 40px;
  color: #000000;
  text-align: center;
  flex:1;
  position:relative;
}

h2{
  font-size: 48px;
  font-weight:  100;
  margin-left: 40px;
  margin-right: 40px;
   margin-top: 30px;
  margin-bottom: 0px;
  color: #000000;
  text-align: center;
}

#ytb_player {
    position: relative;
    width: 100%;
    height: 0px;
}

#ytb_container {
    position: relative;
    width: 100%;
    height: 0px;
}

#play_container {
    margin: auto;
    width: 200px;
    height: 0px;
}

#header{
    flex:1;
    position:relative;
}


.line{
  width: 0px;
  background-color: #000000;
  float: left;
  height: 0px;
  position: absolute;
  margin: 80px auto;
}

.queue{
  margin:0 auto;
  width: 50%;
  padding-bottom:0px;
  background-color: #ffffff;
  -webkit-transition: width 300ms; /* Safari */
  transition: width 300ms;
}

@media screen and (max-width: 1024px) {
   .queue{
      width: 100%;
    }
}

.context{
  background-color: #ffffff;
  height: 0px;
}

.context_image{
  border-radius: 50%;
  float: left;
  padding: 16px;
  height: 64px;
  width: 0px;
}

.context_title {
  font-size: 32px;
  line-height: 300%;
  font-weight:  100;
  color: #000000;
  text-align: left;
  height: 0px;
}

.context_id {
  font-size: 32px;
  line-height: 300%;
  font-weight:  100;
  color: #000000;
  float: right;
  margin-right: 16px;
  opacity: 0.5;
  height: 0px;
}

.owner {
  font-size: 24px;
  font-weight:  100;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.5;
  color: #000000;
  text-align: center;
}




